:host {
    --background-transparency: rgba(255, 255, 255, 0.95);
    --border-radius: 12px;
    --padding-container: 20px;
  }
  
  ion-content {
    --background: var(--ion-color-primary);
  
    &::part(scroll) {
      padding: 20px;
    }
  }
  
  .sales-container {
    background: var(--background-transparency);
    border-radius: var(--border-radius);
    padding: var(--padding-container);
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .sales-icon {
    width: 80px;
    height: 80px;
    background: var(--ion-color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -60px auto 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    ion-icon {
      font-size: 40px;
      color: white;
    }
  }
  
  .total-sales-card {
    background: transparent;
    padding: 0;
    margin-bottom: 24px;
    text-align: center;
  
    ion-card-header {
      padding: 0 0 8px 0;
    }
  
    ion-card-title {
      color: var(--ion-color-primary);
      font-size: 1.2rem;
      font-weight: 600;
    }
  
    h2 {
      color: var(--ion-color-primary);
      font-size: 2rem;
      margin: 0;
      font-weight: bold;
    }
  }
  
  form {
    margin-bottom: 20px;
  }
  
  ion-item {
    --background: transparent;
    --border-color: var(--ion-color-primary);
    --border-radius: 4px;
    --padding-start: 0;
    --highlight-height: 0;
    margin-bottom: 16px;
    margin-top: 16px;
  
    &:last-child {
      margin-bottom: 0;
    }
  
    ion-label {
      color: var(--ion-color-primary);
      font-weight: 500;
      margin-bottom: 8px;
      position: relative;
      top: 0;
      transform: none !important;
    }
  
    ion-input {
      --padding-start: 8px;
      --background: rgba(255, 255, 255, 0.5);
      border: 1px solid var(--ion-color-primary);
      border-radius: 4px;
      margin-top: 8px;
      --padding-top: 8px;
      --padding-bottom: 8px;
    }
  }
  
  // Estilo específico para las etiquetas flotantes
  ion-item.item-label-floating {
    ion-label {
      position: relative;
      transform: none !important;
    }
  }
  
  ion-text {
    display: block;
    padding: 0 16px;
    margin-top: -12px;
    margin-bottom: 16px;
  
    p {
      margin: 0;
      font-size: 0.8rem;
    }
  }
  
  ion-button {
    margin: 8px 0;
    --border-radius: 6px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    
    &[color="warning"] {
      margin-top: 16px;
    }
  }
  
  @media (max-width: 576px) {
    ion-content::part(scroll) {
      padding: 16px;
    }
  
    .sales-container {
      margin: 40px 10px 10px;
      padding: 16px;
    }
  }